+ADwAIQ-doctype html+AD4-
+ADw-html lang+AD0AIgB7AHs- site.lang +AHw- default: +ACI-en-US+ACI- +AH0AfQAiAD4-

+AHsAJQ- include head.html +ACUAfQ-

+ADw-body+AD4-
    +ADw-div class+AD0AIg-wrapper+ACIAPg-

        +AHsAJQ- include header.html +ACUAfQ-

        +ADw-section+AD4-

            +AHsAew- content +AH0AfQ-

        +ADw-/section+AD4-

        +AHsAJQ- include footer.html +ACUAfQ-

    +ADw-/div+AD4-
    +ADw-script src+AD0AIgB7AHs- '/assets/js/scale.fix.js' +AHw- relative+AF8-url +AH0AfQAiAD4APA-/script+AD4-

+ADw-/body+AD4-
+ADw-/html+AD4-
