<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

{% include head.html %}

<body>
    <div class="wrapper">

        {% include header.html %}


        <section>
	
	    <h1>{{ post.title }}</h1>

            {{ content }}

	    <p>Posted on {{ page.date }} in {{ page.tags}}</div>
	    <p>Back to <a href="{{ site.url }}">all posts</a></p>

        </section>

        {% include footer.html %}

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script src="https://txtpen.com/embed.js?site=katja-hofmann.github.io"></script>

</body>
</html>
